<header class="site-header">
  <h1 class="site-title"><a href="<%- url_for('/') %>"><%= config.title %></a></h1>
  <nav class="site-nav">
    <a href="<%- url_for('/') %>">信件</a>
    <a href="<%- url_for('/archives/') %>">归档</a>
    <a href="<%- url_for('/about/') %>">关于</a>
  </nav>
</header>
